@model IEnumerable<LibraryManagementSystem.Models.IssuedBook>

<div class="mt-4">
    <h4>Issued Books</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Issue Date</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Book.Title</td>
                    <td>@book.IssueDate.ToShortDateString()</td>
                    <td>@book.DueDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
