
@{
    ViewData["Title"] = "_GenerateReports";
}

<h4>Generate Reports</h4>
<form method="post" action="/Admin/GenerateReports">
    <div class="form-group">
        <label for="reportType">Report Type</label>
        <select id="reportType" name="reportType" class="form-control" required>
            <option value="Books">Books Report</option>
            <option value="Students">Students Report</option>
            <option value="IssuedBooks">Issued Books Report</option>
            <option value="Fines">Fines Report</option>
        </select>
    </div>
    <div class="form-group mt-3">
        <label for="startDate">Start Date</label>
        <input type="date" id="startDate" name="startDate" class="form-control" required />
    </div>
    <div class="form-group mt-3">
        <label for="endDate">End Date</label>
        <input type="date" id="endDate" name="endDate" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-4">Generate Report</button>
</form>


