@model LibraryManagementSystem.Models.Book

<div>
    <h4>Add Book</h4>
    <form method="post" action="/Admin/AddBook" id="addBookForm">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Enter the book title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" placeholder="Enter the author's name" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Publisher"></label>
            <input asp-for="Publisher" class="form-control" placeholder="Enter the publisher" />
            <span asp-validation-for="Publisher" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="ISBN"></label>
            <input asp-for="ISBN" class="form-control" placeholder="Enter the ISBN" />
            <span asp-validation-for="ISBN" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="PublishedYear"></label>
            <input asp-for="PublishedYear" class="form-control" placeholder="Enter the published year" />
            <span asp-validation-for="PublishedYear" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="Genre"></label>
            <input asp-for="Genre" class="form-control" placeholder="Enter the genre" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="TotalCopies"></label>
            <input asp-for="TotalCopies" type="number" class="form-control" placeholder="Enter the total copies" />
            <span asp-validation-for="TotalCopies" class="text-danger"></span>
        </div>
        <div class="form-group mt-3">
            <label asp-for="AvailableCopies"></label>
            <input asp-for="AvailableCopies" type="number" class="form-control" placeholder="Enter the available copies" />
            <span asp-validation-for="AvailableCopies" class="text-danger"></span>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary">Add Book</button>
            <button type="button" class="btn btn-secondary" onclick="cancelForm()">Cancel</button>

        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
